.login_page {
  background-image: url("../../assets/Images/login.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  //   justify-content: center;
  flex-direction: column;
  position: relative;

  .welcome {
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 47px;
  }

  #elredLogo {
    margin-top: 50px;
    margin-bottom: 75px;
  }
}

// .toast-error {
//   background-color: #000 !important;
//   color: #fff !important;
//   max-width: 313px;
//   bottom: 50% !important;
//   transform: translateY(100%) !important;
//   &.toast-aligned-top{
//     transform: translateY(25%) !important;
//   }
// }