.users-table-card-container-new {
  padding: 15px 20px 20px 20px;

  .users-table-card-inner-new {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

    .users-table-card-header-new {
      display: flex;
      justify-content: space-between;
      border-radius: 5px 5px 0 0;
      background: none;
      padding: 1rem 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0;

      .users-table-card-title-left {
        display: inline-flex;
        align-items: center;
        justify-content: start;
        gap: 12px;

        .users-table-card-title-left-img {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          font-size: 30px;
          color: #fff;
          background: linear-gradient(90deg, #736bd0 0%, #9892dc 100%);
          box-shadow: 0px 4px 15px 0px #7c75d347;
          border-radius: 20px;
        }

        .users-table-card-title-left-text {
          font-size: 20px;
          font-weight: 600;
          line-height: 23px;
          letter-spacing: 0px;
          text-align: left;
        }
      }

      .users-table-card-title-right {
        font-size: 32px;
        font-weight: 700;
        line-height: 24.2px;
        color: #df000d;
      }
    }

    .user-table-card-body-new {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      margin: 0;
      position: relative;
      padding: 25px;
      font-size: 14px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);

      .user-table-card-top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 10px;

        .user-table-card-top-left {
          display: flex;
          align-items: center;
          font-weight: 500;

          .user-table-card-top-left-onboarding {
            margin-right: 20px;
            font-size: 16px;
          }

          .filter {
            &__control {
              border: 1px solid #eaedf1;
              border-radius: 40px;
              padding: 0 9px;
              font-weight: 500;
              background-color: #eae8f0;
            }

            &__control--is-focused {
              box-shadow: none;
              border: 1px solid #eaedf1;
            }

            &__menu {
              color: #0d0c22;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              user-select: none;
              cursor: pointer;
              border-radius: 0;
              margin-top: 0;
              max-height: 200px;
              border-radius: 5px;
            }

            &__option {
              font-size: 14px;
              cursor: pointer;
              padding: 6px;

              &--is-focused {
                color: white;
                background-color: #6259ca !important;
              }

              &--is-selected {
                color: white;
                background-color: #6259ca !important;
              }
            }

            &__option:hover {
              color: white;
              background-color: #6259ca;
            }

            &__single-value {
              font-size: 14px;
            }

            &__control {
              cursor: pointer;
            }

            &__indicator-separator {
              display: none;
            }
          }
        }

        .user-table-card-top-right {
          display: inline-flex;
          gap: 14px;

          .user-table-search-input-field {
            display: flex;
            border-radius: 28px;
            padding: 8px 13px;
            float: right;
            margin-bottom: 10px;
            border: 1px solid #eaedf1 !important;
            font-size: 14px;
            line-height: 18px;
          }

          .user-table-search-input-field:focus {
            outline: none;
          }

          .filter {
            &__control {
              border: 1px solid #eaedf1;
              border-radius: 40px;
              padding: 0 9px;
              font-weight: 500;
              background-color: #eae8f0;
            }

            &__control--is-focused {
              box-shadow: none;
              border: 1px solid #eaedf1;
            }

            &__menu {
              color: #0d0c22;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              user-select: none;
              cursor: pointer;
              border-radius: 0;
              margin-top: -10px;
              max-height: 200px;
              border-radius: 5px;
            }

            &__option {
              font-size: 14px;
              cursor: pointer;
              padding: 6px;

              &--is-focused {
                color: white;
                background-color: #6259ca !important;
              }

              &--is-selected {
                color: white;
                background-color: #6259ca !important;
              }
            }

            &__option:hover {
              color: white;
              background-color: #6259ca;
            }

            &__single-value {
              font-size: 14px;
            }

            &__control {
              cursor: pointer;
            }

            &__indicator-separator {
              display: none;
            }
          }
        }
      }

      @media (max-width: 719px) {
        .user-table-card-top {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          margin-bottom: 10px;

          .user-table-card-top-left {
            display: flex;
            align-items: center;
            font-weight: 500;
            margin-bottom: 10px;

            .user-table-card-top-left-show {
              margin-right: 5px;
            }

            .user-table-card-top-left-entries {
              margin-left: 5px;
            }

            .filter {
              &__control {
                border: 1px solid #eaedf1;
              }

              &__control--is-focused {
                box-shadow: none;
                border: 1px solid #eaedf1;
              }

              &__menu {
                color: #0d0c22;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                user-select: none;
                cursor: pointer;
                border-radius: 0;
                margin-top: 0;
                max-height: 200px;
              }

              &__option {
                font-size: 14px;
                cursor: pointer;
                padding: 6px;

                &--is-focused {
                  color: white;
                  background-color: #6259ca !important;
                }

                &--is-selected {
                  color: white;
                  background-color: #6259ca !important;
                }
              }

              &__option:hover {
                color: white;
                background-color: #6259ca;
              }

              &__single-value {
                font-size: 14px;
              }

              &__control {
                cursor: pointer;
              }

              &__indicator-separator {
                display: none;
              }
            }
          }

          .user-table-search-input {
            display: flex;
            border-radius: 7px;
            padding: 0.5rem;
            float: right;
            margin-bottom: 10px;
            border: 1px solid #eaedf1 !important;
            font-size: 14px;
            line-height: 18px;
          }

          .user-table-search-input:focus {
            outline: none;
          }
        }
      }

      table {
        width: 100%;
        table-layout: fixed; /* This ensures that column widths are fixed */
      }

      .user-table-table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;

        .users-table-spinner-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 578px;
          border: 1px solid #eaedf1 !important;
          margin-bottom: 1rem;
          margin-top: -1rem;

          .users-table-spinner-loader {
            height: 35px;
            width: 35px;
          }

          .no-users-found-text {
            font-size: 14px;
            letter-spacing: 0em;
            color: #262626;
          }
        }

        .user-table-table {
          white-space: nowrap !important;
          border: 1px solid #eaedf1 !important;
          padding: 0.75rem;
          vertical-align: top;
          width: 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          border-collapse: collapse !important;
          caption-side: bottom;

          .user-table-table-head {
            vertical-align: bottom;

            .user-table-table-head-row-new {
              border-width: 1px 0;
              border-top: 1px solid #eaedf1 !important;
              background: #eae8f0;

              .user-table-table-text-header-new {
                font-weight: 600 !important;
                -webkit-transition: none !important;
                padding: 0.75rem;
                color: #000000;
                font-size: 12px;
                border: 1px solid #eaedf1;
                text-align: center;
                line-height: 25px;
              }

              .user-table-header-first {
                min-width: 1%;
                width: 20%;
              }

              .user-table-header-second {
                min-width: 1%;
                width: 20%;

                
                @media only screen and (max-width: 1300px) {
                  width: 16%;
                }
              }

              .user-table-header-third {
                min-width: 1%;
                width: fit-content;
              }

              .user-table-header-fourth {
                min-width: 1%;
                width: 12%;
              }

              .user-table-header-fifth {
                min-width: 1%;
                width: fit-content;
              }

              .user-table-header-sixth {
                min-width: 1%;
                width: fit-content;
              }

              .user-table-header-seventh {
                min-width: 1%;
                width: fit-content;
              }
            }
          }

          .user-table-table-center {
            text-align: center;
          }

          .user-table-row {
            cursor: pointer;
          }

          .user-table-row:hover {
            background-color: #f7f6f9;
          }

          .user-table-table-status-green {
            color: rgba(65, 186, 99, 1);
            font-weight: 500;
            font-size: 10px;
            text-transform: capitalize;
          }

          .user-table-table-status-red {
            color: rgba(255, 87, 97, 1);
            font-weight: 500;
            font-size: 10px;
            text-transform: capitalize;
          }

          .user-table-data-joining-date {
            font-weight: 500;
            font-size: 10px;
          }

          .user-table-table-data {
            position: relative;
            padding: 10px;
            border: 1px solid #eaedf1;

            .user-table-table-badge {
              display: inline-block;
              padding: 1em 0.8em;
              font-size: 10px;
              line-height: 0;
              text-align: center;
              white-space: nowrap;
              vertical-align: baseline;
              border-radius: 15px;
              font-weight: 500;
              color: #fff;
              width: 70px;
            }

            .user-table-bg-success {
              color: #37b25a !important;
              background-color: #e7f7f4 !important;
              text-transform: capitalize;
            }

            .user-table-bg-danger {
              color: #e72d38 !important;
              background-color: rgba(248, 204, 211, 0.5) !important;
              text-transform: capitalize;
            }

            .aadhaar-verified-text-blue {
              font-weight: 500;
              font-size: 10px;

              .verified {
                color: rgba(20, 123, 255, 1);
              }

              .n_verified {
                color: #e72d38 !important;
              }
            }

            .user-table-table-status-round-green {
              display: inline-flex;
              border-radius: 50%;
              height: 8px;
              width: 8px;
              background-color: rgba(65, 186, 99, 1);
              margin-right: 5px;
            }

            .user-table-table-status-round-red {
              display: inline-flex;
              border-radius: 50%;
              height: 8px;
              width: 8px;
              background-color: rgba(255, 87, 97, 1);
              margin-right: 5px;
            }
          }

          .user-table-table-data-name-img-new {
            display: flex;
            gap: 8px;
            border: 1px solid transparent;
            border-bottom: 1px solid #eaedf1;
            margin-bottom: -1px;
            align-items: center;

            .user-table-table-cart-img-new {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              border-radius: 40px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 30px 30px;

              .hide-user-table-table-cart-dp {
                display: none;
              }

              .user-table-table-cart-dp-pic {
                height: 30px;
                width: 30px;
                border-radius: 40px;
                object-fit: cover;
              }

              img {
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
                pointer-events: none;
              }

              .table-profile-thumb-shimmer {
                height: 30px;
                width: 30px;
                border-radius: 40px;
                margin-top: -8px;
              }
            }

            .user-table-table-name-container {
              margin: 5px;
              display: flex;
              flex-direction: column;
              width: calc(100% - 38px);

              .user-table-table-name-new {
                font-size: 10px;
                font-weight: 600;
                // margin-bottom: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 160px;
              }

              .user-table-table-title-container-span {
                width: 85%;
                line-height: 10px;

                .user-table-table-title-container-new {
                  display: inline-flex;
                  white-space: nowrap;
                  max-width: 90%;
                  margin-right: 6px;

                  .user-table-table-title-new {
                    font-size: 8px;
                    line-height: 10px;
                    font-weight: 500;
                    color: #3C3C3C;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }

              .user-table-table-title-badge {
                display: inline-block;
                // margin-left: 6px;
                background: rgb(230, 231, 234);
                color: #000;
                padding: 4px 8px;
                border-radius: 15px;
                font-size: 7px;
                font-weight: 500;
                width: fit-content;
              }


              .n-a{
                font-size: 8px;
                color: #3C3C3C;
                font-weight: 500;
              }
            }
          }

          .user-table-table-data-company-new {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
            text-align: center;
            font-weight: 500;
            font-size: 10px;
          }

          .user-table-table-data-location-new {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
            text-align: center;
            font-weight: 500;
            font-size: 10px;
          }

          .user-table-table-data-bold {
            font-weight: 700;
          }
        }
      }

      .users-table-empty-bottom {
        height: 41px;
      }

      .user-table-card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-table-card-bottom-left {
          font-size: 12px;
          font-weight: 500;
        }
      }

      @media (max-width: 819px) {
        .user-table-card-bottom {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-top: 10px;

          .user-table-card-bottom-left {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
